services:
  - type: web
    name: creation
    runtime: node
    region: singapore
    plan: free
    branch: main

    buildCommand: npm install
    startCommand: npm start

    envVars:
      - key: NODE_ENV
        value: production

      - key: PORT
        value: 4000
